body {
  background-color: royalblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}


#drum-machine {
  display: relative;
  justify-content: center;
  margin-bottom: 20px;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
 display: flex;
 justify-content: center;
 border: 2px solid black;
 width: 30px;
 margin: 10px auto;
}

.drum-pad:hover {
  color: red;
  background-color: burlywood;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;

}

footer {
  align-items: center;
  justify-content: center;
  display: flex;
}